<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PYTHONUNBUFFERED</key>
		<string>1</string>
		<key>REQUESTS_CA_BUNDLE</key>
		<string>/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/certifi/cacert.pem</string>
		<key>SSL_CERT_FILE</key>
		<string>/Library/Frameworks/Python.framework/Versions/3.14/lib/python3.14/site-packages/certifi/cacert.pem</string>
	</dict>
	<key>KeepAlive</key>
	<dict>
		<key>SuccessfulExit</key>
		<false/>
	</dict>
	<key>Label</key>
	<string>com.firewatch.zavidovici</string>
	<key>ProcessType</key>
	<string>Interactive</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Library/Frameworks/Python.framework/Versions/3.14/bin/python3</string>
		<string>-m</string>
		<string>firewatch</string>
		<string>menubar</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/Users/mirza.basic/Library/Application Support/FireWatch/stderr.log</string>
	<key>StandardOutPath</key>
	<string>/Users/mirza.basic/Library/Application Support/FireWatch/stdout.log</string>
	<key>ThrottleInterval</key>
	<integer>30</integer>
	<key>WorkingDirectory</key>
	<string>/Users/mirza.basic/Projects/Personal/fire-detection</string>
</dict>
</plist>
